body {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #introducao {
    height: 550px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  #design-archives {
    display: none;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  header h1,
  header h2 {
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
  }
  
  header h1 {
    margin-left: 1em;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 1em;
  }
  
  nav ul {
    text-align: center;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 4%;
  }
  
  footer a {
    display: inline-block;
    border: 2px solid #fff;
    padding: 0.5em;
    margin-right: 1em;
    text-decoration: none;
    color: #fff;
  }
  