body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #585757;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 80px auto 20px;
    background: rgb(160, 158, 158);
    padding: 20px;
    border-radius: 8%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    background: linear-gradient(to right, aqua, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: white;
}

.profile-img {
    width: 22%;
    height: 19%;
    border-radius: 30%;
    display: block;
    margin: 10px auto;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000000;
    color: white;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.skills img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    nav ul {
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}